:root {
  --primary-pink: #ED017F;
  --primary-white: #ffffff;
  --secoendary-black:#010101;
  --primary-black: #000000;
  --primary-grey: #D9D9D9;
  --text-theme: #999999;
  --secondary-dark: #343434;
  --theme-gray: #363940;
  --p-tag: #676767;
  --bg-color: #FEF9FC;
  --bg-colour: #FCE0EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "Metropolis";
  src: url("fonts/metropolis/Metropolis-Regular.otf") format(opentype);
}

body {
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.37;
  color: var(--text-theme);
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 57px;
  font-weight: 1.1;
  color: var(--primary-black);
  font-weight: bold;
       font-family: "Metropolis";

}

h2,
.h2-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.07;
  color: var(--secondary-dark);
       font-family: "Metropolis";

}

h3,
.h3-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.19;
  color: var(--secondary-dark);
  text-transform: capitalize;
       font-family: "Metropolis";

}

h4,
.h4-title {
  font-size: 22px;
       font-family: "Metropolis";

  font-weight: bold;
  line-height: 1;
  color: var(--theme-gray);
  text-transform: capitalize;
}

h5,
.h5-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--theme-gray);
  line-height: 1.6;
  letter-spacing: 1px;
       font-family: "Metropolis";


}

img {
  max-width: 100%;
  height: auto;
}

figure {
  display: block;
  margin: 0;
}

.container {
  max-width: 1394px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.cmn-gap {
  padding: 99px 0;
}
.col25{
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}
.col20{
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 15px;
}
.brand a {
  width: 175px;
  display: block;
}

.nav-links a {
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
  color: var(--primary-black);
  font-family: "Metropolis";
  font-size: 12px;
  letter-spacing: 2px;
}

.nav-links a:hover {
  color: var(--primary-pink);
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.search-icon a {
  color: var(--primary-pink);
  padding-right: 25px;
}

.cmn-btn {
  display: inline-block;
  padding: 18px 30px 17px 30px;
  border-radius: 4px;
  background-color: var(--primary-pink);
  color: var(--primary-white);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Metropolis";
  font-size: 12px;
}

.cmn-btn:hover {
  background-color: var(--primary-black);
  color: var(--primary-white);

}

.col40 {
  max-width: 40%;
  flex: 40%;
  padding: 0 15px;
}

.col60 {
  max-width: 60%;
  flex: 60%;
  padding: 0 15px;
}

.banner-content {
  margin-top: 111px;
}

.banner-content h1 {
  font-size: 57px;
  font-weight: 1.1;
  font-family: "Metropolis";
  color: var(--primary-black);
  font-weight: bold;
  max-width: 435px;
  margin-bottom: 23px;
}

.banner-content p {
  max-width: 391.74px;
  font-size: 16px;
  font-weight: 1.3;
  font-family: "Metropolis";
  color: var(--p-tag);
  text-transform: capitalize;
  margin-bottom: 38px;
}

.outline {
  display: inline-block;
  background: none;
  border: 2px solid var(--primary-pink);
  border-radius: 4px;
  padding: 13px 20px;
  margin-left: 20px;
  color: var(--primary-pink);
  letter-spacing: 2px;
}

.outline:hover {
  background: var(--primary-black);
  color: var(--primary-white);
  border: none;
  border: 2px solid #000000;
}

.right_btn {
  padding: 13px 23px;
  letter-spacing: 2px;
}

.banner_btn {
  margin-bottom: 53px;
}


.banner_right {
  position: relative;
}

.car_loan a {
  position: absolute;
  top: 30px;
  left: 80px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--primary-white);
  padding: 15px 25px;
  border-radius: 56px;
  color: var(--primary-black);
  box-shadow: 4px 4px 58px 0 rgba(0, 0, 0, 0.12);
}
.car_loan a:hover{
  background: var(--primary-pink);
  color: var(--primary-white);
}
.car_loan span {
  margin-left: 22px;
  font-family: "Metropolis";
  font-size: 18px;
  font-weight: bold;

}

.car_loan i {
  color: var(--primary-pink);
}
.car_loan a:hover i{
  color: var(--primary-white);
}
.home_loan a{
  position: absolute;
  top: 120px;
  right: 38px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--primary-white);
  padding: 15px 25px;
  border-radius: 56px;
  color: var(--primary-black);
  box-shadow: 4px 4px 58px 0 rgba(0, 0, 0, 0.12);
}
.home_loan a i{
  color: var(--primary-pink);
}
.home_loan a:hover{
  background-color: var(--primary-pink);
  color: var(--primary-white);
}
.home_loan a:hover i{
  color:var(--primary-white);
}
.home_loan span {
  margin-left: 22px;
  font-family: "Metropolis";
  font-size: 18px;
  font-weight: bold;

}
.social{
  display: flex;
}
.banner_link a{
  text-decoration: none;
}
.banner_link a i{
  color: var(--primary-pink);
}
.banner_link a span{
  color: var(--primary-black);
  font-size: 17px;
  font-weight: 600;
  margin-left: 11px;
  margin-right: 22px;

}
.social_media{
  margin-left: 22px;
}
.facebook{
  color: #4B7FCD;
  margin-right: 16px;
}
.facebook:hover{
  color: var(--primary-black);
}
.linkedin{
  color: #4B7FCD;
}
.linkedin:hover{
  color: var(--primary-black);
}
.instagram{
  color: var(--primary-pink);
  margin-right: 16px;
}
.instagram:hover{
  color: var(--primary-black);
}
.youtube{
  color: red;
  margin-right: 16px;
}
.youtube:hover{
  color: var(--primary-black);
}
.social_media ul{
   display: flex;
}
.exp-heading{
  text-align: center;
}
.exp-heading .h3-title{
   margin-bottom: 16px;
}
.exp-heading p{
  max-width: 622px;
  margin:0 auto;
  margin-bottom: 80px;
  color: var(--text-theme);
  font-size: 16px;
  font-family: "Metropolis";
}
.experience_card{
  margin-bottom: 18px;
}
.experience_card figure{
  margin-bottom: 14px;
}
.experience_card .h4-title{
  margin-bottom: 13px;
  color: var(--theme-gray);
}
.experience_card p{
  max-width: 180px;
  font-size: 14px;
  color: var(--text-theme);
  font-family: "Metropolis";
  line-height: 1.7;
}
.our_servicers{
  background: var(--bg-color);
  padding: 99px 0 69px 0;
}
.service-card{
  display: flex;
  justify-content: space-between;
  
}
.service-card img{
  margin-bottom: 22px;
}
.img_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img_text .h5-title{
  max-width: 195px;
}
.img_text a{
  margin-left: 26px;
}
.img_text i{
  color: var(--primary-pink);
  background-color: var(--bg-colour);
  padding: 4px;
  border-radius: 100%;
}
.best-result{
  padding: 99px 0 94px 0;
}
.best_results .h3-title{
  text-transform: lowercase;
}
.best_results p{
 max-width: 494.6px;
 font-size: 16px;
 line-height: 1.3;
 margin-bottom: 81px;
     font-family: "Metropolis";

}
.persenteg1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}
.primary_valu{
  color: var(--primary-pink);
       font-family: "Metropolis";

  
}
.persenteg2{
  display: flex;
  justify-content: space-between;
}
.persenteg1 p{
  color: var(--p-tag);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 172px;
}
.valu1 p{
  color: var(--p-tag);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 172px;
  font-family: "Metropolis";
}
.rating{
  text-transform: uppercase;
}

.footer{
  padding: 87px 0 87px 0 ;
}
.footer_heading h5{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.2;
  color: var(--secoendary-black);
  
}
.footer_heading p{
  color: var(--p-tag);
  font-size: 14px;
  line-height: 1.5;
  max-width: 162px;
    font-family: "Metropolis";

}
.footer_link{
  margin: 0;
}
.footer_link ul{
  padding: 0;
}
.footer_call{
  text-align: flex end;
}
.footer_heading ul{
  padding: 0;
}
.footer_heading ul li{
  font-size: 14px;
  line-height: 1.5;
  color: var(--p-tag);
  font-weight: 400;
  font-family: "Metropolis";
  margin-bottom: 10px;
}
.footer_heading ul li:hover{
  color: var(--primary-pink);
}